/* You can add global styles to this file, and also import other style files */
tr{

  background-color: rgba(204, 204, 204, 0.315);
  border-bottom: 20px;
  border-top: 20px;
}

#chak{
  background-color: rgb(255, 255, 255);
}
